{% extends "base_template.html" %}
{% block title %}LogIn{% endblock %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper">
  <div class="formContent">
    <!-- Login Form -->
    <form action="/login" method="post">
        <label for="name">Usuario: </label>
        <input type="text" id="name" name="name" required/><br>
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password" required/><br>
        <input type="submit" id="send-signin" name="signin" value="Iniciar Sesion" />
    </form><br>
    No tengo una cuenta: <a href="/registro">Registrar</a>
  </div>
</div>
{% endblock %}
